.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.product-item h3 {
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.product img {
  max-width: 100px;
  margin-bottom: 5px;
}

.product a {
  text-decoration: none;
  color: inherit;
}

.product p {
  margin: 0;
}
